* {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	outline: none;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
}

img {
	// object-fit: cover;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
