@use "@styles/colors";

* {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	outline: none;

	color: colors.$primary;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.divider {
	width: 100%;
	height: 1px;

	margin: 40px 0;
	background-color: colors.$grey-2;
}
