$grey-7: #616161;
$grey-6: #9e9e9e;
$grey-5: #bdbdbd;
$grey-4: #cfcfcf;
$grey-3: #e0e0e0;
$grey-2: #ebebeb;
$grey-1: #f5f5f5;
$yellow-6: #d97706;
$yellow-5: #f59e0b;
$yellow-4: #fbbf24;
$yellow-3: #fcd34d;
$yellow-2: #fde68a;
$yellow-1: #fef9c3;

$primary-emphasis: $grey-7;
$primary: $grey-6;
$primary-muted: $grey-5;

$accent: $yellow-4;
