@use "../colors.scss" as colors;
@use "../dimensions.scss" as dimensions;

$primary: colors.$grey-3;
$primary-emphasis: colors.$grey-4;
$primary-muted: colors.$grey-2;

$sub: colors.$grey-1;

$ref: colors.$grey-5;
$deactive: colors.$grey-6;
$accent: colors.$red-2;

$theme-default: (
	--app-bg: $sub,
	--app-font-color: black,

	--overlay-surface-bg: white,

	--overlay-surface-button-bg: $sub,
	--overlay-surface-button-hover-bg: white,

	--title-bg: $primary,
	--side-menu-bg: $primary,
	--side-resizer: $accent,

	--menu-item-hover: $primary-emphasis,
	--window-icon-hover: $primary-emphasis,

	--find-replace-container-bg: $primary,
	--find-replace-input: white,
	--find-replace-button-hover: $primary-emphasis,

	--tooltip-bg: colors.$grey-6,
	--tooltip-font: white,

	--shortcut-font: $ref,
	--deactive: $deactive,
	--not-implemented: $deactive,

	--dropdown-border: $sub,
	--dropdown-item-hover: $sub,
	--dropdown-divider: $primary-muted,

	--search-highlight: colors.$yellow-1,
	--search-highlight-current: colors.$yellow-3,

	--scrollbar-thumb: $primary-emphasis,
	--scrollbar-thumb-hover: $accent,

	--tab-bg: $primary-muted,
	--tab-ghost-bg: $sub,
	--tab-selected: white,
	--tab-btn-bg: transparent,
	--tab-btn-hover-bg: $primary,
	--tab-btn-hover-font: black,
	--tab-indicator: $accent,

	--tree-node-cut: $ref,
	--tree-node-focused: $accent,
	--tree-node-selected: $primary-muted,
	--tree-node-hover: $primary-muted,
	--tree-ghost-bg: $primary-emphasis,
	--tree-top-icon-hover: #{colors.$grey-2},
	--tree_wrapper-drag-overlay: #{colors.$grey-2},

	--settings-menu-container: $sub,
	--settings-menu-button-bg: $primary-muted,
	--settings-menu-button-hover: white,
	--settings-menu-button-selected: white,
	--settings-contents: white,
	--setting-node-border-color: $ref,

	--warning-color: $accent,

	--disabled-bg: $ref,
);
