@use './global_variables.scss' as gv;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.drag {
    -webkit-app-region: drag;
}

.no_drag {
    -webkit-app-region: no-drag;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.not_implemented {
    color: gv.$grey-3 !important;
    cursor: default !important;
}