@use './variables.scss' as gv;
@use './findAndReplace.scss';

$editor-horizontal-padding: 16px;
$editor-vertical-padding: 8px;
$scrollbar-size: 8px;

#editor_container {
    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color: var(--tab-selected);

    // font-size: 16px;
}

.editorBox {
    width: 100%;
    height: 100%;
    
    display: none;
}

.milkdown {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--tab-selected);

    &::-webkit-scrollbar {
        width: $scrollbar-size;
        height: $scrollbar-size;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
    }

    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background-color: var(--scrollbar-thumb-hover);
    }
}

.milkdown>.editor {
    width: 100%;
    min-height: 100%;
    padding: $editor-vertical-padding $editor-horizontal-padding;
    white-space: pre;
}
