$grey-6: #424242;
$grey-5: #616161;
$grey-4: #9e9e9e;
$grey-3: #bdbdbd;
$grey-2: #e0e0e0;
$grey-1: #f5f5f5;
$red-6: #CC0000;
$red-5: #FF1A1A;
$red-4: #FF4D4D;
$red-3: #FF8080;
$red-2: #FFB3B3;
$red-1: #FFE6E6;
$green-6: #328E6E;
$green-5: #67AE6E;
$green-4: #90C67C;
$green-3: #A0C878;
$green-2: #DDEB9D;
$green-1: #E1EEBC;
$blue-6: #1E3A8A;
$blue-5: #2563EB;
$blue-4: #3B82F6;
$blue-3: #60A5FA;
$blue-2: #93C5FD;
$blue-1: #DBEAFE;
$yellow-6: #D97706;
$yellow-5: #F59E0B;
$yellow-4: #FBBF24;
$yellow-3: #FCD34D;
$yellow-2: #FDE68A;
$yellow-1: #FEF9C3;

$icon_size: 20px;
$icon_horizontal_margin: 10px;
$icon_vertical_margin: 10px;