@use './variables.scss' as gv;

$space: 4px;

#info-overlay {
    display: none;
}

#info-container {
    width: 20%;
    height: 40%;

    display: flex;
    flex-direction: column;
}

#info-top {
    height: gv.$title_height;
    background-color: var(--title-bg);
}

#info-content {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: $space;
}

#info-content > * > label {
    margin-right: $space;
}

#info-bottom {
    display: flex;
    justify-content: center;
    background-color: var(--title-bg);
}

#info-button {
    width: gv.$button-width;
    height: gv.$button-height;
    margin: gv.$button-margin;
    background-color: var(--overlay-surface-button-bg);
}

#info-button:hover {
    cursor: pointer;
    background-color: var(--overlay-surface-button-hover-bg);
}