@use './variables.scss' as gv;

$settings-menu-width: 110px;
$settings-menu-button-width: 100px;
$settings-menu-button-height: 24px;
$settings-menu-gap: 5px;

$settings-button-width: gv.$button-width;
$settings-button-height: gv.$button-height;
$settings-button-margin: gv.$button-margin;

$setting-node-margin: 5px;
$setting-node-label-width: 100px;
$setting-node-input-width: 50px;

#settings-overlay {
    display: none;
}

#settings-container {
    width: 70%;
    height: 70%;

    display: flex;
    flex-direction: column;

    overflow: hidden;   // cause settings-top.
}

#settings-top {
    height: gv.$title_height;

    display: flex;
    justify-content: end;
    align-items: center;

    background-color: var(--title-bg);
}

#settings-top img {
    width: gv.$icon_size * 0.7;
    height: gv.$icon_size * 0.7;
}

#settings-top button {
    width: gv.$icon_size;
    height: gv.$icon_size;
    margin-right: gv.$icon_horizontal_margin;
}

#settings-top button:hover {
    cursor: pointer;
    background: var(--window-icon-hover);
}

#settings-section {
    flex: 1;
    display: flex;
}

#settings-menu {
    min-width: $settings-menu-width;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: end;

    gap: $settings-menu-gap;

    background-color: var(--settings-menu-container);
}

#settings-menu button {
    width: $settings-menu-button-width;
    height: $settings-menu-button-height;
    
    font-size: 0.8rem;

    background-color: var(--settings-menu-button-bg);
}

#settings-menu button:hover {
    cursor: pointer;
    background-color: var(--settings-menu-button-hover);
}

#settings-menu button.selected {
    background-color: var(--settings-menu-button-selected);
}

#settings-contents {
    flex: 1;
    background-color: var(--settings-contents);
}

#settings-contents > div {
    width: 100%;
    height: 100%;
    display: none;
}

#settings-bottom {
    display: flex;
    justify-content: end;
    background-color: var(--title-bg);
}

#settings-bottom button {
    width: $settings-button-width;
    height: $settings-button-height;
    margin: $settings-button-margin;

    background-color: var(--overlay-surface-button-bg);
}

#settings-bottom button:hover {
    cursor: pointer;
    background-color: var(--overlay-surface-button-hover-bg);
}

.setting-node {
    display: flex;
}

.setting-node * {
    border: 1px solid var(--setting-node-border-color);
    margin: $setting-node-margin;
}

.setting-node > label {
    width: $setting-node-label-width;

    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-node > input {
    width: $setting-node-input-width;

    text-align: center;
    vertical-align: middle;
}

.setting-node > input[type='number'] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}



// #settings-menu {
//     background-color: aqua;
// }
// #settings-section {
//     background-color: blue;
// }
// #settings-bottom {
//     background-color: chocolate;
// }
// #settings-contents-theme {
//     background-color: black;
// }
// #settings-contents-font {
//     background-color: gray;
// }