@use "./variables.scss" as gv;
@use "./tree.scss";

$risizer-size: 3px;

#side {
	height: 100%;
	display: flex;
	flex-shrink: 0;
	user-select: none;
}

// TODO: svg.
@mixin button-selected {
	// filter: invert(1) brightness(1.5);
	filter: invert(67%) sepia(39%) saturate(7474%) hue-rotate(188deg) brightness(102%) contrast(96%);
}

#side_menu_container {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background-color: var(--side-menu-bg);

	> button.selected img {
		@include button-selected;
	}

	> button:hover img {
		@include button-selected;
	}
}

#side_menu_container img {
	width: gv.$icon_size;
	height: gv.$icon_size;
	margin: gv.$icon_vertical_margin gv.$icon_horizontal_margin;
}

#side_resizer {
	width: $risizer-size;
	height: 100%;
	cursor: ew-resize;
	background-color: transparent;
	transition: background-color 0.3s ease;
}

#side_resizer:hover {
	background-color: var(--side-resizer);
}
