@use './global_variables.scss' as gv;

$tree_horizontal_margin: 5px;

#side {
    height: 100%;
    display: flex;
    flex-shrink: 0;
    user-select: none;
}

#side_menu_container {
    width: gv.$icon_size;
    margin: gv.$icon_vertical_margin gv.$icon_horizontal_margin;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#side_menu_container img {
    width: gv.$icon_size;
    height: gv.$icon_size;

    margin: gv.$icon_vertical_margin gv.$icon_horizontal_margin;

    background-color: white;
}

#side_menu_container img:hover {
    cursor: pointer;
}

#tree {
    width: 0px;
    height: 100%;
    cursor: default;

    background-color: white;
}

#tree_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: aqua;
}

#tree_top_name {
    margin: 0 $tree_horizontal_margin;
    flex: 1;

    background-color: aliceblue;
}

#tree_top_icons {
    display: flex;
}

#tree_top_icons img {
    width: gv.$icon_size;
    height: gv.$icon_size;
    margin-right: $tree_horizontal_margin;
    background-color: white;
}

#tree_resizer {
    width: 3px;
    height: 100%;
    cursor: ew-resize;
    background-color: blue;
}

.tree_node_wrapper {
    // width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
}

.tree_node {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: $tree_horizontal_margin;
    border: 1px solid transparent;
}

.tree_node.focused {
    border: 1px solid red;
}

.tree_node.selected {
    background-color: grey;
}

.tree_node:hover {
    cursor: pointer;
    background-color: gv.$grey-1;
}

.tree_node_open,
.tree_node_icon {
    min-width: gv.$icon_size;
    min-height: gv.$icon_size;

    text-align: center;
    flex-shrink: 0;
    /* prevent icon from shrinking on resize */
}

.tree_node_input {
    width: 100%;
}

.tree_node_children {
    display: none;
}

.tree_node_children.expanded {
    display: block;
}

#tree_context_menu {
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
}

#tree_context_menu.selected {
    display: flex;
}