@use './global_variables.scss' as gv;
@use './tree.scss';

#side {
    height: 100%;
    display: flex;
    flex-shrink: 0;
    user-select: none;
}

#side_menu_container {
    width: gv.$icon_size;
    margin: gv.$icon_vertical_margin gv.$icon_horizontal_margin;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#side_menu_container img {
    width: gv.$icon_size;
    height: gv.$icon_size;

    margin: gv.$icon_vertical_margin gv.$icon_horizontal_margin;

    background-color: white;
}

#side_menu_container img:hover {
    cursor: pointer;
}

#side_resizer {
    width: 3px;
    height: 100%;
    cursor: ew-resize;
    background-color: blue;
}
