@use './global_variables.scss' as gv;

$tab_min_width: 50px;
$tab_max_width: 150px;
$tab_height: 30px;
$tab_right_margin: 10px;
$tab_elem_padding: 5px;
$tab_button_width: 20px;
$tab_button_radius: 5px;

#tab_container {
    display: flex;

    width: 100%;
    height: $tab_height;

    overflow: auto;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

.tab {
    flex: 1;
    min-width: $tab_min_width;
    max-width: $tab_max_width;
    height: 100%;
    margin-right: $tab_right_margin;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $tab_elem_padding;

    user-select: none;

    background-color: grey;
}

.tab:hover,
.tab * {
    cursor: pointer;
}

.tab {
    background-color: gv.$grey-2;
}

.tab.selected {
    background-color: red;
}

.tab>span {
    flex: 1;
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab>button {
    width: $tab_button_width;
    height: $tab_button_width;
    border-radius: $tab_button_radius;
    background-color: transparent;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tab>button:hover {
    background-color: gv.$grey-4;
    color: transparent;
}

.tab>button:hover::after {
    content: '×';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#tab_context_menu {
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
}

#tab_context_menu.selected {
    display: flex;
}

.editorBox {
    display: none;
}

.editorBox.selected {
    display: block;
}

.tab-indicator {
    width: 3px;
    height: 100%;
    background-color: blue;
}

.tab_ghost {
    position: fixed;
    height: 3px;
    pointer-events: none;
    opacity: 0.7;
    z-index: 1000;
}