@use './global_variables.scss' as gv;

$tab_width: 150px;
$tab_height: 30px;
$tab_right_margin: 10px;
$tab_elem_padding: 5px;
$tab_button_width: 20px;

#tab_container {
    display: flex;

    width: 100%;
    height: $tab_height;

    overflow: auto;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

.tab {
    min-width: $tab_width;
    height: 100%;
    margin-right: $tab_right_margin;

    display: flex;
    justify-content: space-between;

    background-color: grey;
}

.tab:hover,
.tab * {
    cursor: pointer;
}

.tab.active {
    background-color: red;
}

.tab>span {
    flex: 1;
    display: flex;
    align-items: center;
    padding: $tab_elem_padding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab>button {
    width: $tab_button_width;

    background-color: aliceblue;
    position: relative;
}

.tab>button:hover::after {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#tab_context_menu {
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
}