@use './global_variables.scss' as gv;

$title_height: 40px;
$window_width: 100px;
$window_gap: 5px;

$menu_container_horizontal_margin: 10px;

#title,
#title > :nth-child(-n+3) {
    display: flex;
    align-items: center;
}

#title {
    width: 100%;
    height: $title_height;
    flex-shrink: 0;

    background-color: gv.$blue-1;
}

#logo {
    color: green;
    margin-left: gv.$icon_horizontal_margin;
    margin-right: gv.$icon_horizontal_margin;
}

#window {
    margin-left: auto;
    width: $window_width;

    display: flex;
    justify-content: space-between;

    padding: $window_gap;

    background-color: blueviolet;
}

#window img {
    width: gv.$icon_size;
    height: gv.$icon_size;

    background-color: white;
}

#window img:hover {
    cursor: pointer;
}

#menu_container {
    flex-shrink: 0;

    display: flex;

    background-color: gv.$green-1;
}

#menu_container .menu_item {
    margin-left: $menu_container_horizontal_margin;
    margin-right: $menu_container_horizontal_margin;

    background-color: chartreuse;
}

.menu_item {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.menu_item.selected > .dropdown {
    display: block;
}

.menu_item:hover {
    cursor: pointer;
}
