@use './variables.scss' as gv;

$scrollbar-size: 8px;
$tree_horizontal_margin: 5px;
$ghost-padding: 4px;

#tree {
    width: 0px;
    height: 100%;
    cursor: default;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

#tree_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tree_top_name {
    margin: 0 $tree_horizontal_margin;
    flex: 1;
    font-size: 0.9rem;
}

#tree_top_icons {
    display: flex;
    position: relative;
}

#tree_top_icons img {
    width: gv.$icon_size;
    height: gv.$icon_size;
    margin-right: $tree_horizontal_margin;
}

#tree_top_icons img:hover {
    cursor: pointer;
    background-color: var(--tree-top-icon-hover);
}

#tree_node_container {
    flex: 1;
    overflow: scroll;
    border: 1px solid transparent;

    &::-webkit-scrollbar {
        width: $scrollbar-size;
        height: $scrollbar-size;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background-color: var(--scrollbar-thumb-hover);
    }
}

#tree_node_container.focused {
    border: 1px solid var(--tree-node-focused);
}

.tree_node_wrapper {
    // width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
}

.tree_node_wrapper.cut {
    color: var(--tree-node-cut);
}

.tree_node_temp,
.tree_node {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: $tree_horizontal_margin;
    border: 1px solid transparent;
}

.tree_node_temp > input {
    border: 1px solid var(--tree-node-focused);
}

.tree_node.focused {
    border: 1px solid var(--tree-node-focused);
}

.tree_node:hover {
    cursor: pointer;
    background-color: var(--tree-node-hover);
}

.tree_node.selected {
    background-color: var(--tree-node-selected);
}

.tree_node_open,
.tree_node_icon {
    // min-width: gv.$icon_size;
    // min-height: gv.$icon_size;
    width: gv.$icon_size;
    height: gv.$icon_size;

    text-align: center;
    flex-shrink: 0;
    /* prevent icon from shrinking on resize */
}

.tree_node_input {
    width: 100%;
}

.tree_node_children {
    display: none;
}

.tree_node_children.expanded {
    display: block;
}

#tree_context_menu {
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 90;
}

#tree_context_menu.selected {
    display: flex;
}

.tree_ghost {
    position: fixed;
    pointer-events: none;
    background-color: var(--tree-ghost-bg);
    color: white;
    font-size: 0.7rem;
    padding: $ghost-padding;
    z-index: 90;
}

.tree_drag_overlay {
    background-color: var(--tree_wrapper-drag-overlay);
}