// $grey-4-20: rgba(158, 158, 158, 0.2);
// $grey-4-40: rgba(158, 158, 158, 0.4);
// $grey-4-60: rgba(158, 158, 158, 0.6);
// $grey-4-80: rgba(158, 158, 158, 0.8);
$grey-6: #424242;
$grey-5: #616161;
$grey-4: #9e9e9e;
$grey-3: #bdbdbd;
$grey-2: #e0e0e0;
$grey-1: #f5f5f5;
$red-6: #cc0000;
$red-5: #ff1a1a;
$red-4: #ff4d4d;
$red-3: #ff8080;
$red-2: #ffb3b3;
$red-1: #ffe6e6;
$green-6: #328e6e;
$green-5: #67ae6e;
$green-4: #90c67c;
$green-3: #a0c878;
$green-2: #ddeb9d;
$green-1: #e1eebc;
$blue-6: #1e3a8a;
$blue-5: #2563eb;
$blue-4: #3b82f6;
$blue-3: #60a5fa;
$blue-2: #93c5fd;
$blue-1: #dbeafe;
$yellow-6: #d97706;
$yellow-5: #f59e0b;
$yellow-4: #fbbf24;
$yellow-3: #fcd34d;
$yellow-2: #fde68a;
$yellow-1: #fef9c3;

$button-width: 100px;
$button-height: 32px;
$button-margin: 10px;

$icon_size: 20px;
$tree_icon_size: 15px;
$icon_horizontal_margin: 10px;
$icon_vertical_margin: 10px;

$title_height: 32px;

$window_icon_border_radius: 4px;

$disabled-bg-color: $grey-2;
