@use "./variables.scss" as gv;
@use "./tab.scss";
@use "./editor.scss";

#workspace {
	flex: 1;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}
