$button-width: 100px;
$button-height: 24px;
$button-margin: 10px;

$icon_size: 20px;
$tree_icon_size: 15px;
$icon_horizontal_margin: 10px;
$icon_vertical_margin: 10px;

$title_height: 32px;

$title_button_width: 36px;
$title_button_height: 32px;

$window_icon_border_radius: 4px;
