$button-width: 100px;
$button-height: 24px;
$button-margin: 10px;

$icon-size: 20px;
$tree-icon-size: 15px;
$icon-horizontal-margin: 10px;
$icon-vertical-margin: 10px;

$title-height: 32px;

$title-button-width: 36px;
$title-button-height: 32px;

$window-icon-border-radius: 4px;
