@use "./dimensions.scss" as dimensions;

$row-height: 24px;

$input-width: 150px;
$info-width: 70px;

$container-padding: 4px;
$container-gap: 4px;

$button-horizontal-margin: 4px;

$input-horizontal-padding: 4px;
$info-horizontal-padding: 4px;

#find-replace-container {
	display: none;
	flex-direction: column;
	gap: $container-gap;

	position: fixed;
	top: 10%;
	right: 10%;
	z-index: 95;

	padding: $container-padding;

	background-color: var(--find-replace-container-bg);
}

#find,
#replace {
	width: 100%;
	height: $row-height;
}

#find > input,
#replace > input {
	width: $input-width;
	padding: 0 $input-horizontal-padding;
	background: var(--find-replace-input);
}

#find > button,
#replace > button {
	margin: 0 $button-horizontal-margin;
}

#find > button:hover,
#replace > button:hover {
	background-color: var(--find-replace-button-hover);
}

#find-info,
#replace-info {
	width: $info-width;
	padding: 0 $info-horizontal-padding;

	display: flex;
	align-items: center;
	justify-content: end;

	font-size: 0.7rem;
}

#find {
	display: flex;
}

#find > span:hover {
	cursor: default;
}

#replace {
	display: none;
}

#find,
#replace {
	align-items: center;
}

#find > button,
#replace > button {
	width: dimensions.$icon-size;
	height: dimensions.$icon-size;
}

.search-highlight {
	background-color: var(--search-highlight);
}

.search-highlight-current {
	background-color: var(--search-highlight-current);
}
