@use "./dimensions.scss" as dimensions;

$settings-menu-width: 110px;
$settings-menu-button-width: 100px;
$settings-menu-button-height: 24px;
$settings-menu-gap: 5px;

$settings-button-width: dimensions.$button-width;
$settings-button-height: dimensions.$button-height;
$settings-button-margin: dimensions.$button-margin;

$setting-node-margin: 5px;
$setting-node-label-width: 100px;
$setting-node-input-number-width: 50px;
$setting-node-input-string-width: 120px;
$setting-node-select-width: 120px;

#settings-overlay {
	display: none;
}

#settings-container {
	width: 70%;
	height: 70%;

	display: flex;
	flex-direction: column;

	overflow: hidden; // cause settings-top.
}

#settings-top {
	height: dimensions.$title_height;

	display: flex;
	justify-content: end;
	align-items: center;

	background-color: var(--title-bg);
}

#settings-top img {
	width: dimensions.$icon_size * 0.7;
	height: dimensions.$icon_size * 0.7;
}

#settings-top button {
	width: dimensions.$icon_size;
	height: dimensions.$icon_size;
	margin-right: dimensions.$icon_horizontal_margin;
}

#settings-top button:hover {
	background: var(--window-icon-hover);
}

#settings-section {
	flex: 1;
	display: flex;
}

#settings-menu {
	min-width: $settings-menu-width;

	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: end;

	gap: $settings-menu-gap;

	background-color: var(--settings-menu-container);
}

#settings-menu button {
	width: $settings-menu-button-width;
	height: $settings-menu-button-height;

	font-size: 0.8rem;

	background-color: var(--settings-menu-button-bg);
}

#settings-menu button:hover {
	background-color: var(--settings-menu-button-hover);
}

#settings-menu button.selected {
	background-color: var(--settings-menu-button-selected);
}

#settings-contents {
	flex: 1;
	background-color: var(--settings-contents);
}

#settings-contents > div {
	width: 100%;
	height: 100%;
	display: none;
}

#settings-bottom {
	display: flex;
	justify-content: end;
	background-color: var(--title-bg);
}

#settings-bottom button {
	width: $settings-button-width;
	height: $settings-button-height;
	margin: $settings-button-margin;

	background-color: var(--overlay-surface-button-bg);
}

#settings-bottom button:hover {
	background-color: var(--overlay-surface-button-hover-bg);
}

.setting-node-disabled {
	cursor: default;
	background-color: var(--disabled-bg);
}

.setting-node {
	display: flex;
}

.setting-node * {
	border: 1px solid var(--setting-node-border-color);
	margin: $setting-node-margin;
}

.setting-node > label {
	width: $setting-node-label-width;

	display: flex;
	justify-content: center;
	align-items: center;
}

.setting-node > input {
	text-align: center;
	vertical-align: middle;
}

.setting-node > input[type="number"] {
	width: $setting-node-input-number-width;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.setting-node > input[type="string"] {
	width: $setting-node-input-string-width;
}

.setting-node > select {
	width: $setting-node-select-width;
	text-align: center;
	vertical-align: middle;
}
