@use "./dimensions.scss" as dimensions;

$menu_horizontal_padding: 4px;
$menu_border_radius: 4px;

$menu_container_horizontal_margin: 10px;

#title,
#title > :nth-child(-n + 3) {
	display: flex;
	align-items: center;
}

#title {
	width: 100%;
	height: dimensions.$title_height;
	flex-shrink: 0;

	background-color: var(--title-bg);
}

#logo {
	margin-left: dimensions.$icon_horizontal_margin;
	margin-right: dimensions.$icon_horizontal_margin;

	width: dimensions.$icon_size;
	height: dimensions.$icon_size;
}

#logo > img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

#window {
	border-radius: dimensions.$window_icon_border_radius;
	margin-left: auto;
}

#window button {
	width: dimensions.$title_height;
	height: dimensions.$title_height;
}

#window img,
#window svg {
	width: 100%;
	height: 100%;
	padding: 10px;
}

#window img:hover {
	background: var(--window-icon-hover);
}

#title_exit > svg:hover {
	background: var(--warning-color);
	color: var(--hover-foreground-color);
}

#menu_container {
	flex-shrink: 0;

	display: flex;
}

.menu_item {
	border-radius: $menu_border_radius;
	padding: 0 $menu_horizontal_padding;

	text-align: center;

	margin-right: $menu_container_horizontal_margin;
	font-size: 0.9rem;

	position: relative;
	cursor: pointer;
	user-select: none;
}

.menu_item.selected > .dropdown {
	display: block;
}

.menu_item:hover {
	cursor: pointer;
	background: var(--menu-item-hover);
}
