@use "./dimensions.scss" as dimensions;

$window_width: 100px;
$window_gap: 5px;
$menu_horizontal_padding: 4px;
$menu_border_radius: 4px;

$menu_container_horizontal_margin: 10px;

#title,
#title > :nth-child(-n + 3) {
	display: flex;
	align-items: center;
}

#title {
	width: 100%;
	height: dimensions.$title_height;
	flex-shrink: 0;

	background-color: var(--title-bg);
}

#logo {
	margin-left: dimensions.$icon_horizontal_margin;
	margin-right: dimensions.$icon_horizontal_margin;

	width: dimensions.$icon_size;
	height: dimensions.$icon_size;
}

#logo > img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

#window {
	width: $window_width;
	border-radius: dimensions.$window_icon_border_radius;

	margin-left: auto;
	margin-right: dimensions.$icon_horizontal_margin;

	display: flex;
	justify-content: space-between;

	padding: $window_gap;
}

#window button {
	width: dimensions.$icon_size;
	height: dimensions.$icon_size;

	display: flex;
	justify-content: center;
	align-items: center;
}

#window img {
	width: dimensions.$icon_size * 0.7;
	height: dimensions.$icon_size * 0.7;
}

#window button:hover {
	cursor: pointer;
	background: var(--window-icon-hover);
}

#menu_container {
	flex-shrink: 0;

	display: flex;
}

.menu_item {
	border-radius: $menu_border_radius;
	padding: 0 $menu_horizontal_padding;

	text-align: center;

	margin-right: $menu_container_horizontal_margin;
	font-size: 0.9rem;

	position: relative;
	cursor: pointer;
	user-select: none;
}

.menu_item.selected > .dropdown {
	display: block;
}

.menu_item:hover {
	cursor: pointer;
	background: var(--menu-item-hover);
}
