@use "./dimensions.scss" as dimensions;

$scrollbar-size: 8px;
$tree-horizontal-gap: 5px;
$ghost-padding: 4px;

$tree-top-min-height: 25px;

#tree {
	width: 0px;
	height: 100%;
	cursor: default;

	display: flex;
	flex-direction: column;

	overflow: hidden;
}

#tree-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: $tree-top-min-height;
}

#tree-top-name {
	margin: 0 $tree-horizontal-gap;
	flex: 1;
	font-size: 0.9rem;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}

#tree-top-icons {
	display: flex;
	position: relative;
}

#tree-top-icons svg {
	width: dimensions.$tree-icon-size;
	height: dimensions.$tree-icon-size;
	margin-right: $tree-horizontal-gap;
}

#tree-top-icons button:hover {
	cursor: pointer;
	background-color: var(--tree-top-icon-hover);
}

#tree-node-container {
	flex: 1;
	overflow: overlay;
	border: 1px solid transparent;
	padding: 0 $tree-horizontal-gap;

	&::-webkit-scrollbar {
		width: $scrollbar-size;
		height: $scrollbar-size;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb:hover {
		cursor: pointer;
		background-color: var(--scrollbar-thumb-hover);
	}
}

#tree-node-container.focused {
	border: 1px solid var(--tree-node-focused);
}

.tree-node-wrapper {
	// width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 100px;
}

.tree-node-wrapper.cut {
	color: var(--tree-node-cut);
}

.tree-node-temp,
.tree-node {
	font-size: 0.7rem;
	display: flex;
	align-items: center;
	border: 1px solid transparent;
	gap: 2px;
}

.tree-node > input,
.tree-node-temp > input {
	border: 1px solid var(--tree-node-focused);
}

.tree-node.focused {
	border: 1px solid var(--tree-node-focused);
}

.tree-node:hover {
	cursor: pointer;
	background-color: var(--tree-node-hover);
}

.tree-node.selected {
	background-color: var(--tree-node-selected);
}

.tree-node > span {
	margin-left: 1px;
}

.tree-node-type {
	width: dimensions.$tree-icon-size;
	height: dimensions.$tree-icon-size;

	text-align: center;
	flex-shrink: 0;
	/* prevent icon from shrinking on resize */
}

.tree-node-input {
	width: 100%;
}

.tree-node-children {
	display: none;
}

.tree-node-children.expanded {
	display: block;
}

#tree-context-menu {
	display: none;
	position: fixed;
	flex-direction: column;
	z-index: 90;
}

#tree-context-menu.selected {
	display: flex;
}

.tree-ghost {
	position: fixed;
	pointer-events: none;
	background-color: var(--tree-ghost-bg);
	color: white;
	font-size: 0.7rem;
	padding: $ghost-padding;
	z-index: 90;
}

.tree-drag-overlay {
	background-color: var(--tree-wrapper-drag-overlay);
}
