@use "./dimensions.scss" as dimensions;

$dropdown_min_width: 200px;
$dropdown_padding: 5px;
$dropdown_item_padding: 5px 10px;

$shortcut_font_size: 0.85em;
$shortcut_left_margin: 20px;

$tooltip_horizontal_padding: 8px;
$tooltip_vertical_padding: 4px;
$tooltip_border_radius: 4px;

.drag {
	-webkit-app-region: drag;
}

.no_drag {
	-webkit-app-region: no-drag;
}

.dropdown {
	display: none;
	position: absolute;
	background: white;
	border: 1px solid var(--dropdown-border);
	min-width: $dropdown_min_width;
	z-index: 96;
	padding: $dropdown_padding;
}

.dropdown_item {
	display: flex;
	align-items: center;

	padding: $dropdown_item_padding;
	white-space: nowrap;

	cursor: pointer;
}

.dropdown_item:hover {
	background-color: var(--dropdown-item-hover);
}

.dropdown_divider {
	height: 1px;
	margin: 1px;
	background-color: var(--dropdown-divider);
}

.checkbox {
	width: 12px;
	height: 12px;
	margin-right: 12px;
}

.dropdown_item > .text {
	flex: 1;

	display: flex;
	justify-content: space-between;
}

.shortcut {
	font-size: $shortcut_font_size;
	margin-left: $shortcut_left_margin;
	color: var(--shortcut-font);
	user-select: none;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.deactive,
.not_implemented {
	color: var(--deactive) !important;
	cursor: default !important;
}

.tooltip-btn {
	position: relative;
}

.tooltip {
	visibility: hidden;

	position: absolute;
	background: var(--tooltip-bg);
	color: var(--tooltip-font);

	padding: $tooltip_vertical_padding $tooltip_horizontal_padding;
	border-radius: $tooltip_border_radius;
	font-size: 0.7rem;

	white-space: nowrap;
	pointer-events: none;

	opacity: 0;
	transition: opacity 0.2s;

	z-index: 97;

	&-bottom {
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	&-right {
		top: 50%;
		left: 100%;
		transform: translateY(-50%);
	}

	&-bottom-left {
		top: 100%;
		right: 0;
		left: auto;
		transform: none;
	}
}

.tooltip-btn:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

// .icon-grey {
//     filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(90%);
// }

.overlay {
	position: fixed;

	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	z-index: 98;

	background-color: transparent;
}

.overlay-surface {
	min-width: 200px;
	min-height: 100px;
	border-radius: dimensions.$window_icon_border_radius;
	box-shadow: 0 4px 16px rgb(0, 0, 0, 0.3);
	background-color: var(--overlay-surface-bg);
}
