.download-page {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	gap: 40px;
}

.download-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.download-box > img {
	width: 32px;
}

.download-box > .text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.download-note {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.download-note > span {
	font-size: 1.2rem;
	font-weight: bold;
	color: black;
}

.download-note > ul li {
	text-align: center;
	margin-bottom: 2px;
}
