$borderColor: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;

    background-color: $borderColor;
}

#container {
    width: 500px;
    height: 1000px;
    border: 1px solid red;
}